<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8">
    <title>Dashboard | User - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- jsvectormap css -->
    <link href="assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css">

    <!--Swiper slider css-->
    <link href="assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css">

    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">



    <style>
        .table > :not(caption) > * > * {
            background: unset;
            --vz-text-opacity: 1;
            color: #878a99 !important;
        }

        .form-select {
            width: unset;
        }
    </style>
    <style>
        td.details-control {
            cursor: pointer;
        }
        tr.shown td.details-control i {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        td {
            padding : 0;
            margin  : 0;
        }

        .details-container {
            width            : 100%;
            height           : 100%;
            background-color : #FFF;
            padding-top      : 5px;
        }

        .details-table {
            width            : 100%;
            background-color : #FFF;
            margin           : 5px;
        }

        .title {
            font-weight : bold;
        }

        .iconSettings {
            margin-top    : 5px;
            margin-bottom : 10px;
            font-size     : 12px;
            position      : relative;
            top           : 1px;
            display       : inline-block;
            font-family   : 'Glyphicons Halflings';
            font-style    : normal;
            font-weight   : 400;
            line-height   : 1;
            -webkit-font-smoothing : antialiased;
        }

        td.details-control {
            cursor     : pointer;
            text-align : center;
            padding: unset;

        &:before {
         @extend .iconSettings;
             content : '\2b';
             font-size: 29px;
         }
        }

        tr.shown td.details-control {
        &:before {
         @extend .iconSettings;
             content : '\2212';
             padding: unset;
         }
        }


    </style>
    <link href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/r-2.2.6/rr-1.2.7/sl-1.3.1/datatables.css"
          rel="stylesheet" crossorigin>
    <link href="https://cdn.jsdelivr.net/gh/djibe/material@4.6.2-1.0/css/material-plugins.min.css" rel="stylesheet"
          crossorigin>

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/staterestore/1.2.2/css/stateRestore.dataTables.min.css">



    <!--///-->
    <style>
        :root
        {
            --text: "Select values";
        }
        .multiple_select
        {
            height: 18px;
            width: 90%;
            overflow: hidden;
            -webkit-appearance: menulist;
            position: relative;
            z-index: 1000;
        }
        .multiple_select::before
        {
            content: var(--text);
            display: block;
            margin-left: 5px;
            margin-bottom: 2px;
        }
        .multiple_select_active
        {
            overflow: visible !important;
        }
        .multiple_select option
        {
            display: none;
            height: 18px;
            background-color: white;
        }
        .multiple_select_active option
        {
            display: block;
        }

        .multiple_select option::before {
            content: "\2610";
        }
        .multiple_select option:checked::before {
            content: "\2611";
        }
        .mselect {
            position: relative;
            display: flex;
            width: 20em;
            height: 1.6em;
            border-radius: unset;
            overflow: hidden;
            /*margin-top: -11px;*/
            margin-left: 10px;
        }
        /* Arrow */
        .mselect::after {
            content: '\25BC';
            position: absolute;
            top: -8px;
            right: -13px;
            padding: 1em;
            transition: .25s all ease;
            pointer-events: none;
            font-size: 13px;
        }
        /* Transition */
        .mselect:hover::after {
            color: #f39c12;
        }
    </style>

    <!--///-->

    <style>
        :root {
            --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
            --gray: #34495e;
            --darkgray: #2c3e50;
        }

        select {
            /* Reset Select */
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            /*padding: 0 1em;*/
            background-image: none;
            cursor: pointer;
            border-bottom: 1px solid;
            border-radius: unset;
            font-size: 16px;
        }
        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }
        /* Custom Select wrapper */
        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 2em;
            border-radius: .25em;
            overflow: hidden;
            /*margin-top: -11px;*/
            margin-left: 10px;
        }
        /* Arrow */
        .select::after {
            content: '\25BC';
            position: absolute;
            top: -8px;
            right: -13px;
            padding: 1em;
            transition: .25s all ease;
            pointer-events: none;
        }
        /* Transition */
        .select:hover::after {
            color: #f39c12;
        }

    </style>
</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <img src="assets/images/logo-dark.png" alt="" height="17">
                        </span>
                        </a>

                        <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <img src="assets/images/logo-light.png" alt="" height="17">
                        </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm fs-16 header-item-icon vertical-menu-btn topnav-hamburger"
                            id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                          <!--<i class="la la-bars text-white"></i>-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <!-- App Search-->
                    <div class="app-search">
                        <div class="position-relative">
                            <h1 class="text-muted">Welcome Test User</h1>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center">


                    <div class="ms-1 header-item d-none d-sm-flex">
                        <a href="#" class="btn btn-icon btn-topbar">
                            <i class='la la-md la-home icon-margin fs-18' style="margin-right: 5px;"></i>
                            <span>Home</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="images/logo.png" alt="" class="sidebar-logo mb-3">
                    </span>
            </a>
            <h2 class="text-white mb-3">UWorld</h2>
            <h3 class="text-white" style="font-size: 1rem!important;">STEP1 QBank</h3>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar" class="side-scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">


                    <!--<li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Components</span></li>-->


                    <li class="nav-item mt-3">
                        <a class="nav-link menu-link" href="welcome.html">
                            <i class='la la-md la-home icon-margin fs-18'></i> <span data-key="t-widgets">Welcome</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="default/index.html">
                            <i class='la la-edit fs-18'></i> <span data-key="t-widgets">Create Test</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="previoustests.html">
                            <i class='la la-list-alt fs-18'></i> <span data-key="t-widgets">Previous Tests</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarLanding" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLanding">
                            <i class="la la-chart-bar fs-18"></i> <span data-key="t-landing">Performance</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarLanding">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="welcome.html" class="nav-link" data-key="t-one-page"> <i class="la la-clipboard-check fs-18"></i> Overall </a>
                                </li>
                                <li class="nav-item">
                                    <a href="reports.html" class="nav-link" data-key="t-one-page"> <i class="la la-chart-pie fs-18"></i> Reports </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-key="t-one-page"> <i class="la la-chart-line fs-18"></i> Graphs </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="search.html">
                            <i class='ri-search-line fs-18'></i> <span data-key="t-widgets">Search</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="notes.html">
                            <i class='la la-file-alt fs-18'></i> <span data-key="t-widgets">Notes</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="flashcards.html">
                            <i class='la la-bolt fs-18'></i> <span data-key="t-widgets">Flashcards</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="my_notebook.html">
                            <i class='la la-book fs-18'></i> <span data-key="t-widgets">My Notebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="">
                            <i class='la la-question-circle fs-18'></i> <span data-key="t-widgets">Help</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="offcanvas-footer p-3 text-center">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-white" style="margin: unset;">Expiration Date </h5>
                    <p class="text-muted">May 07, 2023 12:00 PM EDT</p>
                </div>
            </div>
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">

                        <div class="h-100">
                            <div class="row">
                                <div class="col-xxl-12">
                                    <div class="card">
                                        <div class="card-header align-items-center d-flex">
                                            <div class="flex-shrink-0 ms-2">
                                                <ul class="nav justify-content-end nav-tabs-custom rounded card-header-tabs border-bottom-0"
                                                    role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" data-bs-toggle="tab" href="#Subject_tab"
                                                           role="tab" aria-selected="false" tabindex="-1">
                                                            Subjects
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#System_tab"
                                                           role="tab" aria-selected="false" tabindex="-1">
                                                            Systems
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#Topic_tab"
                                                           role="tab" aria-selected="true">
                                                            Topics
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="flex-grow-1 oveflow-hidden">
                                                <p class="text-muted text-truncates mb-0 float-end"><i class="la la-print print-btn"></i>Print</p>
                                            </div>

                                        </div>


                                        <div class="card-body">
                                            <!-- Tab panes -->
                                            <div class="tab-content text-muted">
                                                <div class="tab-pane active show" id="Subject_tab" role="tabpanel">
                                                    <!--<div class="table-responsive table-card mt-3 mb-1">-->
                                                    <!--<input type="text">-->
                                                    <div style="padding: 0 32px;">
                                                        <div class="row mt-4">
                                                            <div class="col-7">
                                                                <div class="d-flex">


                                                                    <p class="mt-2">Show:</p>
                                                                    <div class="select">
                                                                        <select class="">
                                                                            <option value="1">Score</option>
                                                                            <option value="2">QBank Usage</option>
                                                                        </select>
                                                                    </div>

                                                                    <select id="myFilter" class="multiple_select mselect" multiple>
                                                                        <option>Correct</option>
                                                                        <option>Incorrect</option>
                                                                        <option>Omitted</option>
                                                                    </select>
                                                                </div>


                                                            </div>
                                                            <div class="col-5">
                                                                <!--<input type="text" id="myInputTextField" class="form-control form-control-sm" placeholder="Search" aria-controls="employees">-->

                                                                <div class="dataTables_filter" style="margin-right: 24px;"><label><input id="myInputTextField" type="text" class="form-control form-control-sm" placeholder="Search" aria-controls="datatables-example"></label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table id="employees" class="table table-striped" style="width:100%">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>NAME</th>
                                                            <th>USAGE</th>
                                                            <th>CORRECT</th>
                                                            <th>INCORRECT</th>
                                                            <th>OMITTED</th>
                                                            <th>P-RANK</th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="System_tab" role="tabpanel">
                                                   No Data
                                                </div>
                                                <div class="tab-pane" id="Topic_tab" role="tabpanel">
                                                    No Data
                                                </div>
                                            </div>
                                        </div><!-- end card-body -->
                                    </div>
                                </div>
                            </div>
                            <!--end row-->

                        </div> <!-- end .h-100-->

                    </div> <!-- end col -->

                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © User.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/simplebar/simplebar.min.js"></script>
<script src="assets/libs/node-waves/waves.min.js"></script>
<script src="assets/libs/feather-icons/feather.min.js"></script>
<script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="assets/js/plugins.js"></script>

<!-- apexcharts -->
<script src="assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="assets/libs/jsvectormap/maps/world-merc.js"></script>

<!--Swiper slider js-->
<script src="assets/libs/swiper/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="assets/js/pages/dashboard-ecommerce.init.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!--<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.68/build/pdfmake.min.js" integrity="sha256-Xf58sgO5ClVXPyDzPH+NtjN52HMC0YXBJ3rp8sWnyUk=" crossorigin></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.68/build/vfs_fonts.js" integrity="sha256-vEmrkqA2KrdjNo0/IWMNelI6jHuWAOkIJxGf88r4iic=" crossorigin></script>-->
<!--<script src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/r-2.2.6/rr-1.2.7/sl-1.3.1/datatables.min.js" crossorigin></script>-->

<!--datatable js-->
<script src="assets/datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/datatables/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/staterestore/1.2.2/js/dataTables.stateRestore.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>


<script src="assets/js/pages/datatables.init.js"></script>


<script>
    $.extend($.fn.dataTable.defaults, {
        buttons: [
        ],
        // Display
        dom: '<"top"f><"data-table"rt<"bottom"Blip>>',
        lengthMenu: [ // https://datatables.net/examples/advanced_init/length_menu.html
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
        ],
        language: {
            search: '_INPUT_',
            searchPlaceholder: 'Search', // https://datatables.net/reference/option/language.searchPlaceholder
            info: '_START_-_END_ of _TOTAL_', // https://datatables.net/examples/basic_init/language.html
            lengthMenu: 'Items per page: _MENU_',
            infoEmpty: '0 of _MAX_',
            infoFiltered: '',
            paginate: {
                first: '<svg class="dataTables-svg" viewBox="0 0 24 24"><path d="M18.41 16.59L13.82 12l4.59-4.59L6l-6 6 6 6zM6 6h2v12H6z"/></svg>',
                previous: '<svg class="dataTables-svg" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.4141z"/></svg>',
                next: '<svg class="dataTables-svg" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>',
                last: '<svg class="dataTables-svg" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM6h2v12h-2z"/></svg>'
            },
            decimal: ',',
            thousands: '.',
            zeroRecords: 'No results found'
        },

        // Data display
        colReorder: true,
        fixedHeader: true,
        ordering: true,
        paging: false,
        // pageLength: 10,
        // pagingType: 'full', // https://datatables.net/reference/option/pagingType
        responsive: true,
        searching: true,
        "info":     false,
        select: {
            style: 'multi+shift', // https://datatables.net/reference/option/select.style
            className: 'table-active' // https://datatables.net/reference/option/select.className
        },
        stateSave: true,
    })

    // $(function () {
    //     $('#datatables-example').DataTable({
    //         "columnDefs": [
    //             {"width": "2%", "targets": 0}
    //         ],
    //         "fnInitComplete": function (oSettings, json) {
    //             $('.dataTables_filter input').attr('type', 'text');
    //         },
    //     })
    //         .on('page.dt', function () {
    //             $('[data-toggle="tooltip"]').tooltip({placement: 'bottom'})
    //         })
    // })


</script>

<script>
    var data = [
        {
            id: "1",
            name: "<span>Antomony</span><div class=\"progress mt-1\">\n" +
            "                                            <div class=\"progress-bar bg-primary\" role=\"progressbar\" style=\"width: 15%\" aria-valuenow=\"15\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>\n" +
            "                                        </div>",
            usage: "8/33",
            correct: "2(80%)",
            incorrect: "2(81%)",
            ommitted: "0(0%)",
            p_rank: "67th",
            extn: "5421"
        },
        {
            id: "2",
            name: "<span>Antomony</span><div class=\"progress mt-1\">\n" +
            "                                            <div class=\"progress-bar bg-primary\" role=\"progressbar\" style=\"width: 15%\" aria-valuenow=\"15\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>\n" +
            "                                        </div>",
            usage: "1/33",
            correct: "22(45%)",
            incorrect: "12(82%)",
            ommitted: "0(0%)",
            p_rank: "37th",
            extn: "54212"
        }
    ];

    function format(d) {
        return (
            '<table class="table mb-0 table-sub-rows">' +
            '<tr class="table-primary">' +
            "<td>Ear, Nose & Throat (ENT)</td>" +
            "<td>" + d.extn + "</td>" +
            "<td>1/14</td>" +
            "<td>1 (100%)</td>" +
            "<td>0 (0%)</td>" +
            "<td>-</td>" +
            "</tr>" +
            '<tr class="table-primary">' +
            "<td>Ear, Nose & Throat (ENT)</td>" +
            "<td>" + d.extn + "</td>" +
            "<td>1/14</td>" +
            "<td>1 (100%)</td>" +
            "<td>0 (0%)</td>" +
            "<td>-</td>" +
            "</tr>" +
            "</table>"
        );
    }

    $(document).ready(function() {
        var table = $("#employees").DataTable({
            data: data,
            columns: [
                {
                    className: "details-control",
                    orderable: false,
                    data: null,
                    defaultContent: ''
                },
                { data: "name" },
                { data: "usage" },
                { data: "correct" },
                { data: "incorrect" },
                { data: "ommitted" },
                { data: "p_rank" },
                { data: "extn", visible: false }
            ],
            order: [[1, "asc"]],
            "fnInitComplete": function (oSettings, json) {
                $('.dataTables_filter input').attr('type', 'text');
                $('#employees').DataTable().search( '' ).draw();
            }
        });

        $('#myInputTextField').keyup(function(){
            table.search($(this).val()).draw() ;
        });
        $("#employees tbody").on("click", "td.details-control", function() {
            var tr = $(this).closest("tr");
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass("shown");
            } else {
                row.child(format(row.data()), "p-0").show();
                tr.addClass("shown");
            }
        });
    });
</script>
<script>
    $(".multiple_select").mousedown(function(e) {
        if (e.target.tagName == "OPTION")
        {
            return; //don't close dropdown if i select option
        }
        $(this).toggleClass('multiple_select_active'); //close dropdown if click inside <select> box
    });
    $(".multiple_select").on('blur', function(e) {
        $(this).removeClass('multiple_select_active'); //close dropdown if click outside <select>
    });

    $('.multiple_select option').mousedown(function(e) { //no ctrl to select multiple
        e.preventDefault();
        $(this).prop('selected', $(this).prop('selected') ? false : true); //set selected options on click
        $(this).parent().change(); //trigger change event
    });


    $("#myFilter").on('change', function() {
        var selected = $("#myFilter").val().toString(); //here I get all options and convert to string
        var document_style = document.documentElement.style;
        if(selected !== "")
            document_style.setProperty('--text', "'"+selected+"'");
        else
            document_style.setProperty('--text', "'Select values'");
    });
</script>
</body>

</html>