<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8">
    <title>Dashboard | User - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- jsvectormap css -->
    <link href="assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css">

    <!--Swiper slider css-->
    <link href="assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css">

    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <img src="assets/images/logo-dark.png" alt="" height="17">
                        </span>
                        </a>

                        <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <img src="assets/images/logo-light.png" alt="" height="17">
                        </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm fs-16 header-item-icon vertical-menu-btn topnav-hamburger"
                            id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                          <!--<i class="la la-bars text-white"></i>-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <!-- App Search-->
                    <div class="app-search">
                        <div class="position-relative">
                            <h1 class="text-muted">Welcome Test User</h1>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center">


                    <div class="ms-1 header-item d-none d-sm-flex">
                        <a href="#" class="btn btn-icon btn-topbar">
                            <i class='la la-md la-home icon-margin fs-18' style="margin-right: 5px;"></i>
                            <span>Home</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="images/logo.png" alt="" class="sidebar-logo mb-3">
                    </span>
            </a>
            <h2 class="text-white mb-3">UWorld</h2>
            <h3 class="text-white" style="font-size: 1rem!important;">STEP1 QBank</h3>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar" class="side-scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">


                    <!--<li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Components</span></li>-->


                    <li class="nav-item mt-3">
                        <a class="nav-link menu-link" href="welcome.html">
                            <i class='la la-md la-home icon-margin fs-18'></i> <span data-key="t-widgets">Welcome</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="default/index.html">
                            <i class='la la-edit fs-18'></i> <span data-key="t-widgets">Create Test</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="previoustests.html">
                            <i class='la la-list-alt fs-18'></i> <span data-key="t-widgets">Previous Tests</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarLanding" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLanding">
                            <i class="la la-chart-bar fs-18"></i> <span data-key="t-landing">Performance</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarLanding">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="welcome.html" class="nav-link" data-key="t-one-page"> <i class="la la-clipboard-check fs-18"></i> Overall </a>
                                </li>
                                <li class="nav-item">
                                    <a href="reports.html" class="nav-link" data-key="t-one-page"> <i class="la la-chart-pie fs-18"></i> Reports </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-key="t-one-page"> <i class="la la-chart-line fs-18"></i> Graphs </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link menu-link" href="search.html">
                            <i class='ri-search-line fs-18'></i> <span data-key="t-widgets">Search</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="notes.html">
                            <i class='la la-file-alt fs-18'></i> <span data-key="t-widgets">Notes</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="flashcards.html">
                            <i class='la la-bolt fs-18'></i> <span data-key="t-widgets">Flashcards</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="my_notebook.html">
                            <i class='la la-book fs-18'></i> <span data-key="t-widgets">My Notebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="">
                            <i class='la la-question-circle fs-18'></i> <span data-key="t-widgets">Help</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="offcanvas-footer p-3 text-center">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-white" style="margin: unset;">Expiration Date </h5>
                    <p class="text-muted">May 07, 2023 12:00 PM EDT</p>
                </div>
            </div>
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">

                        <div class="h-100">
                            <div class="card">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xxl-12">
                                            <div class="welcome-title">
                                                <h5 class="statistics"><span>Statistics</span> <span>   <button
                                                        class="btn btn-default float-end"
                                                        style="padding: unset;color: #3577f1;"> Print</button></span><span><i class="la la-print icon-print fs-22"></i></span></h5>
                                                <hr style="width: 100%;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-3">
                                           <!--//-->
                                            <div class="card-body">
                                                <div id="portfolio_donut_charts" data-colors='["--vz-success", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
                                            </div><!-- end card body -->
                                            <!--//-->
                                        </div>
                                        <div class="col-xxl-4">
                                            <table class="table align-middle table-nowrap mb-0">
                                                <h5 class="ms-2 score-title">Your Score</h5>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Total Correct</a></th>
                                                    <td> <div class="score-badge float-end">61</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Total Incorrect</a></th>
                                                    <td> <div class="score-badge float-end">2</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Total Omitted</a></th>
                                                    <td> <div class="score-badge float-end">3</div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xxl-4">
                                            <table class="table align-middle table-nowrap mb-0">
                                                <h5 class="ms-2 score-title">Answer Changes</h5>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Correct to Incorrect</a></th>
                                                    <td> <div class="score-badge float-end">61</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Incorrect to Correct</a></th>
                                                    <td> <div class="score-badge float-end">2</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Incorrect to Incorrect</a></th>
                                                    <td> <div class="score-badge float-end">3</div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-3">
                                           <!--//-->
                                            <div class="card-body">
                                                <div id="qbank_charts" data-colors='["--vz-success", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
                                            </div><!-- end card body -->
                                            <!--//-->
                                        </div>
                                        <div class="col-xxl-4">
                                            <table class="table align-middle table-nowrap mb-0">
                                                <h5 class="ms-2 score-title">QBank Usage</h5>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Used Questions</a></th>
                                                    <td> <div class="score-badge float-end">61</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Unused Questions</a></th>
                                                    <td> <div class="score-badge float-end">2</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Total Questions</a></th>
                                                    <td> <div class="score-badge float-end">3</div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xxl-4">
                                            <table class="table align-middle table-nowrap mb-0">
                                                <h5 class="ms-2 score-title">Test Count</h5>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Tests Created</a></th>
                                                    <td> <div class="score-badge float-end">61</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Tests Completed</a></th>
                                                    <td> <div class="score-badge float-end">2</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Suspended Tests</a></th>
                                                    <td> <div class="score-badge float-end">3</div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-7">
                                           <!--//-->

                                            <!--//-->
                                        </div>
                                        <div class="col-xxl-4">
                                            <table class="table align-middle table-nowrap mb-0">
                                                <h5 class="ms-2 score-title">Test Count</h5>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Tests Created</a></th>
                                                    <td> <div class="score-badge float-end">61</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Tests Completed</a></th>
                                                    <td> <div class="score-badge float-end">2</div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">Suspended Tests</a></th>
                                                    <td> <div class="score-badge float-end">3</div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end row-->

                        </div> <!-- end .h-100-->

                    </div> <!-- end col -->

                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © User.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/simplebar/simplebar.min.js"></script>
<script src="assets/libs/node-waves/waves.min.js"></script>
<script src="assets/libs/feather-icons/feather.min.js"></script>
<script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="assets/js/plugins.js"></script>

<!-- apexcharts -->
<script src="assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="assets/libs/jsvectormap/maps/world-merc.js"></script>

<!--Swiper slider js-->
<script src="assets/libs/swiper/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="assets/js/pages/dashboard-ecommerce.init.js"></script>

<!-- apexcharts -->
<script src="assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- CRM js -->
<script src="assets/js/pages/dashboard-crypto.init.js"></script>
<!-- CRM js -->
<script src="assets/js/pages/qbank-crypto.init.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
<script>
    $(function() {
        // alert( "ready!" );
    });
</script>

</body>

</html>